*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

nav{
    padding: 0.8em;
    display: flex;
    width: 100%;
    border: 1px solid ;
    align-items: center;
}

nav div{
    width: 20%;
    margin-right: auto;
    text-transform: capitalize;
}

nav ul{
    display: flex;
    list-style:none;
    margin-left: auto;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;    
}

nav li{
    text-transform: capitalize;
}

nav a{
    text-decoration: none;
    color: black;
}